<style>
    .topnav {
    overflow: hidden;
    background-color: #333;
    padding:15px;
}

.topnav a {
    position:relative;
    left:20%;
    display:inline;
    color: #f2f2f2;
    text-align: center;
    padding:20px;
    text-decoration: none;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}
</style>
<div class="topnav">
  <a href="/">Home </a>
  
   <a href="doctor_consultation">Doctor Consultation</a>
   <a href="donor">Donor </a>
    <a href="heathcal">Health Calculator</a>
    <a href="medicines">Medicines</a>
     <a href="few">Appointments</a>
   <a href="orders">Orders </a>
<a href="searchdonor">SearchDonors </a>
  <a href="/users/logout"> LogOut </a>



</div>

{{#each ideas}}
<div class="card card-body mb-2">
    <p>Name: <b>{{nam}} </b></p>
    <p>Age:  <b>{{age}}</b></p>
    <p>Gender:  <b>{{gender}} </b></p>
    <p>Doctor Selected:  <b>{{avail}}</b></p>
    <p>Timing Selected:  <b>{{timing}}</b></p>
    <p>Problem Description:  <b>{{problem_description}}</b></p>
    <p>Phone number:  <b>{{phone_number}}</b></p>


    <a class="btn btn-dark btn-block mb-2" href= "edit/{{id}}">Edit</a>
    <form method="post" action="{{id}}?_method=DELETE">

    <input type ="hidden" name="_method" value="DELETE">
     <input type ="submit" class ="btn btn-danger btn-block" value="Delete">

    </form>
</div> 
{{else}}
 <p><b> No  Appointment Fixed </b> </p>
{{/each}}